<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid px-0">
          <div class="row w-100">
            <div class="col-2">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
      
            <div class="col-10">
              <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
                <ul class="navbar-nav mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="home" (click)="gotoHome()" >Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="menu" (click)="gotoMenu()" >Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="reviews" (click)="gotoReviews()" >Reviews</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="logout()" >Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>


<h1 style="text-align: center;">Reviews!</h1>
<br><br><br>
<h3 style="text-align: center;"> Get Review</h3>
<br><br><br>
<div class="container">
        <div class="row">
    
            <div class="col-md-6"> <label>Enter your Item name here :</label>
    
            </div>
    
            <div class="col-md-6"><input type="text" [(ngModel)]="itemName"></div>
            <div>
            <button style="margin-left:30em; background: green; color: #fff; margin-top: 1em;"
                (click)="getReview()">Get Review</button></div>




<div class="row">

<br><br><br><br>
    <div *ngFor = "let review of reviews" class="col-md-6 mb-4" style="border: 1px solid;padding: 2em;margin-left: 3em;">
<br>
    <p class="d-inline mr-2">Item Name:</p> <p class="d-inline" style=" font-weight: bold; ">{{review.ItemName}}</p> <br>
    <p class="d-inline mr-2">Reviewer Name: </p><p class="d-inline" style=" font-weight: bold; ">{{review.Reviews[0].ReviewerName}} </p> <br>
    <p class="d-inline mr-2">Comments:</p> <p class="d-inline" style=" font-weight: bold; ">{{review.Reviews[0].Comment}}</p> <br>
    <p class="d-inline mr-2">Rating:</p> <p class="d-inline" style=" font-weight: bold; ">{{review.Reviews[0].Rating}}</p> <br>
    <p class="d-inline mr-2">Date:</p> <p class="d-inline" style=" font-weight: bold; ">{{review.ReviewDate}}</p>
</div>
  

</div>
        </div>
</div>

<h3 style="text-align: center;">Post Review</h3>
<br>
<br>
<br>
<div class="container">
        <div class="row">

    
            <div class="col-md-6"> <label>Enter your Item name here :</label>
    
            </div>
    
            <div class="col-md-6"><input type="text" [(ngModel)]="ItemNameEntered"></div>
            <div class="col-md-6"><label>Enter your comment here:</label></div>
            <div class="col-md-6"> <input type="text" [(ngModel)]="CommentsEntered"></div>
            <div class="col-md-6"> <label>Enter you rating here:</label></div>
            <div class="col-md-6"><input type="text" [(ngModel)]="RatingEntered"></div>
            <div class="col-md-12 mt-2 mb-2" style=" text-align: center; ">
                <button style=" margin-left: -10em; background: green; color: #fff; margin-top: 1em; "
                    (click)="postReview()">Post Review</button>
            </div>
        </div>
</div>




