
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid px-0">
          <div class="row w-100">
            <div class="col-2">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
      
            <div class="col-10">
              <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
                <ul class="navbar-nav mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="home" (click)="gotoHome()" >Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="menu" (click)="gotoMenu()" >Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="reviews" (click)="gotoReviews()" >Reviews</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="logout()" >Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
<h1 style="text-align: center;">Todays Pizza menu</h1>
<div *ngFor = "let menu of menuItems">
   <p> {{menu.ItemId}} -- {{menu.ItemName}} -- {{menu.Price}} -- {{menu.Description}} -- {{menu.ItemType}} </p>
  </div>
  <button (click)="getMenu()">Refresh!</button>
  <button a routerLink="/order">continue to place order</button>