<div class="login-page">
    <div>
        <img src="https://cdn.doordash.com/media/restaurant/cover/Pizza-My-Heart.png" width="350" height="128" />
    </div>
    <div class="form">
     
      <div class="login-form">
        <input type="text" placeholder="username" [(ngModel)]="username"/>
        <input type="password" placeholder="password" [(ngModel)]="password"/>
        <input type="text" placeholder="firstname" [(ngModel)]="firstname"/>
        <input type="text" placeholder="lastname" [(ngModel)]="lastname"/>
        <button (click)="signup()">Register</button>
   
      </div>
    </div>
  </div>